<div class="card col-9 col-md-8 col-lg-6 my-4 mx-auto p-0 shadow-lg rounded">
  <h5 class="card-header text-center">Modificar Clase</h5>
  <div class="card-body">
    <form [formGroup]="claseForm" (ngSubmit)="modificarClase()">
      <div class="col-12 text-center" *ngIf="error == 'error'">
        <div
          class="alert alert-danger mb-4 animate__animated animate__fadeIn"
          role="alert"
        >
          {{ mensaje }}
        </div>
      </div>
      <div class="col-12 text-center" *ngIf="error == 'mostrar'">
        <div
          class="alert alert-success mb-4 animate__animated animate__fadeIn"
          role="alert"
        >
          {{ mensaje }}
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <div class="md-form form-group">
            <label for="inputNombre">Nombre</label>
            <input
              formControlName="nombre"
              type="text"
              class="form-control"
              id="inputNombre"
              placeholder="{{ clase.nombre_clase }}"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="md-form form-group">
            <label for="inputPassword4MD">Profesor actual</label>

            <input
              [readonly]="true"
              class="form-control"
              id="inputPassword4MD"
              placeholder="{{ clase.profesor.name }} ({{ clase.id_profesor }})"
            />
          </div>
        </div>

        <div class="col-md-6">
          <div class="md-form form-group">
            <label for="inputCambiar">Cambiar Profesor a:</label>

            <input
              formControlName="id_profesor"
              class="form-control"
              id="inputCambiar"
              placeholder=""
            />
          </div>
        </div>

        <div class="container_alumnos">
          <!--<app-usuarios></app-alumnos>-->
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-info btn-block my-4" color="primary">Modificar</button>
      </div>
    </form>
  </div>
</div>
