<div class="container">
  <!-- <h1>Creando un nuevo Usuario</h1>-->
  <form [formGroup]="userForm" (ngSubmit)="enviar()">
    <div class="col-12 text-center" *ngIf="error === true">
      <div class="alert alert-danger mb-4 animate__animated animate__shakeX" role="alert">
        {{ mensajeError }}
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6">
        <div class="md-form form-group">
          <label for="inputEmail4MD">Nombre</label>
          <input
            formControlName="nombre"
            type="text"
            class="form-control"
            id="inputEmail4MD"
            placeholder="Nombre"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form form-group">
          <label for="inputPassword4MD">Apellidos</label>

          <input
            formControlName="apellidos"
            class="form-control"
            id="inputPassword4MD"
            placeholder="Apellidos"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="md-form form-group">
          <label for="inputAddressMD">email</label>

          <input
            formControlName="email"
            type="text"
            class="form-control"
            id="inputAddressMD"
            placeholder="ejemplo@gmail.com"
          />
        </div>
      </div>

      <div class="col-md-12">
        <div class="md-form form-group">
          <label for="inputAddress2MD">Contraseña</label>

          <input
            formControlName="password"
            type="text"
            class="form-control"
            id="inputAddress2MD"
            placeholder="Contraseña"
          />
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6">
        <div class="md-form form-group">
          <label for="inputCityMD">Télefono</label>

          <input
            formControlName="telefono"
            type="text"
            class="form-control"
            id="inputCityMD"
            placeholder=""
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="md-form form-group">
          <label for="inputZipMD">direccion</label>

          <input
            formControlName="direccion"
            type="text"
            class="form-control"
            id="inputZipMD"
            placeholder="c/ Plaza España"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="md-form form-group">
          <label for="tipo">Tipo</label>
          <ng-select
            [items]="simpleItems"
            formControlName="tipo"
            [(ngModel)]="selectedSimpleItem"
          >
          </ng-select>
          <!--<input  formControlName="tipo" type="text" class="form-control" id="inputZipMdD" placeholder="c/ Plaza España">-->
        </div>
      </div>
      <div *ngIf="selectedSimpleItem == 'Padre/Tutor legal'" class="col-md-6">
        <div class="md-form form-group">
          <label for="id_alumno">Id Alumno</label>

          <input
            formControlName="id_alumno"
            type="number"
            class="form-control"
            id="id_alumno"
            placeholder=""
          />
        </div>
      </div>
      <div *ngIf="selectedSimpleItem == 'Profesor'" class="col-md-3">
        <div class="md-form form-group">
          <label for="id_clase">Id Clase</label>

          <input
            formControlName="id_clase"
            type="number"
            class="form-control"
            id="id_clase"
            placeholder=""
          />
        </div>
      </div>
      
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" mdbBtn color="primary">Sign in</button>
    </div>
  </form>
</div>

<div class="container">
  <form [formGroup]="alumnoForm" (ngSubmit)="modificar()">
    <div class="form-row">
      <div class="col-md-6">
        <div class="md-form form-group">
          <label for="inputEmail4MD">Nombre</label>
          <input
            formControlName="nombre"
            type="text"
            class="form-control"
            id="inputEmail4MD"
            placeholder=""
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form form-group">
          <label for="inputPassword4MD">Apellidos</label>

          <input
            formControlName="apellidos"
            class="form-control"
            id="inputPassword4MD"
            placeholder=""
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="md-form form-group">
          <label for="inputAddressMD">Edad</label>

          <input
            formControlName="edad"
            type="text"
            class="form-control"
            id="inputAddressMD"
            placeholder=""
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="md-form form-group">
          <label for="tipo">Género</label>
          <ng-select
            [items]="items"
            formControlName="genero"
          >
          </ng-select>
          <!--<input  formControlName="tipo" type="text" class="form-control" id="inputZipMdD" placeholder="c/ Plaza España">-->
        </div>
      </div>

      <div class="col-md-12">
        <div class="md-form form-group">
          <label for="inputAddress2MD">Aficiones</label>

          <input
            formControlName="aficiones"
            type="text"
            class="form-control"
            id="inputAddress2MD"
            placeholder=""
          />
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6">
        <div class="md-form form-group">
          <label for="inputCityMD">Alergias</label>

          <input
            formControlName="alergias"
            type="text"
            class="form-control"
            id="inputCityMD"
            placeholder=""
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="md-form form-group">
          <label for="inputZipMD">Clase a añadir:</label>

          <input
            formControlName="id_clase"
            type="text"
            class="form-control"
            id="inputZipMD"
            placeholder=""
          />
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" mdbBtn color="primary">Sign in</button>
    </div>
  </form>
</div>
