5.8.3. INSTRUCCIONES GENERALES QUE SE DEBERÁN GARANTIZAR PARA LA PREVENCIÓN DE LA COVID-19
Se deberán desarrollar las siguientes instrucciones, órdenes y/o indicaciones:
a) En el desplazamiento al/del centro educativo:
- Se deberán organizar turnos de entrada y de salida al centro de trabajo tanto de las familias como del personal, evitando así las aglomeraciones.
-Las personas acompañantes del alumnado, tanto en la entrada como en la salida, deberán permanecer en el exterior del aula, evitando las
aglomeraciones y guardando la distancia física de seguridad.
b) En el centro educativo:
1. Tareas de gestión administrativas y reuniones con personal ajeno al centro que se deban realizar de manera imprescindible en el centro educativo.
- Se deberán establecer los medios telemáticos necesarios a fin de evitar la concurrencia de padres y madres en el centro educativo.
- En el caso que sea absolutamente necesario, se establecerá un sistema de cita previa, indicándole el día y la hora de atención. Tendrán la obligación de
entrar al centro con mascarilla respiratoria. Se le facilitarán unas instrucciones con recomendaciones de higiene personal de manos antes de la entrada al
centro, indicaciones que deberán seguir y que habrán sido establecidas por el centro.
- Se han generado itinerarios de recorrido, tales como: marcar sentidos de recorrido en pasillos (ida/vuelta), accesos (en puertas diferenciadas de
entradas y salidas), puertas (personal o usuarios), y otros similares, para evitar que las personas se crucen. Se ha elaborado una instrucción en la que se
establecerá la regulación de la circulación de las personas por el centro. (ANEXO PLANO CENTRO)
2. Instrucciones generales sobre medidas de protección e higiene individual en el centro educativo.
- El personal ajeno al centro de trabajo, el personal concurrente en el centro de trabajo, y todo el personal trabajador del centro deberá llevar mascarilla
de protección respiratoria.
- El uso de guantes no es recomendable de forma general, pero sí en los casos de manipulación de papel, maquinaria, alimentos, cambio de pañales y
tareas de limpieza.
- Se garantizan los equipos de protección respiratoria para el personal trabajador del centro educativo. Disponibilidad de jabón, papel desechable y geles
hidroalcohólicos.
- Evitar tocarse la nariz, los ojos y la boca, ya que las manos facilitan la transmisión. Evitar darse la mano. Al toser o estornudar, cubrir la boca y la nariz
con el codo flexionado.
-Usar pañuelos desechables para eliminar secreciones respiratorias y tirarlos tras su uso.
- Se ha establecido también la gestión de residuos y los medios materiales necesarios (cubos de basura, cuando resulte posible con tapa y pedal).
- Se dispone de toda la cartelería necesaria, imprescindible para ofrecer el máximo de información general y se establecerán las zonas y dependencias de
los centros educativos, que permita a todo el personal trabajador del centro y personal ajeno al centro, seguir las medidas de prevención de contagios de
la COVID-19 establecidas. Mantener una distancia interpersonal de 2 metros.
3. Instrucciones generales sobre medidas de protección colectivas.
- Organización de la separación entre personal trabajador y el alumnado, teniendo en cuenta las distancias de seguridad.
- Se calcula un aforo máximo de 20 alumnos para cada aula de dos años y 13 por cada aula de 1 año.
- Se han definido los sentidos de circulación de los pasillos, estableciendo un orden de salida y entrada de las aulas para evitar aglomeraciones en los
pasillos. 
- Se ha definido un horario para la realización de entradas y salidas escalonadas.
- Se han establecido puertas de entrada y salidas independientes para cada etapa, para evitar cruces y prever las zonas comunes de uso reducido.
- Se han colocados mamparas de seguridad en conserjería y dirección, para garantizar la distancia de seguridad.
- Se ha colocado la cartelería de información necesaria.
- Se realizarán las reuniones presenciales estrictamente necesarias respetando la distancia máxima de seguridad.
-Se formarán grupos de convivencia estable.
-Para las siestas, se intercalará la dirección en la que se colocan los alumnos (cabeza y pies en diferente dirección). Se hará un cambio semanal de
sábanas.
-Tras el cambio de pañal se desinfectará el cambiador entre alumnos.
-No estará permitida la participación y la colaboración de las familias dentro del aula.
4. Organización de la higiene del centro educativo.
-La dirección del centro coordinará con los responsables de la empresa o con el personal empleado público correspondiente, la limpieza y desinfección
principalmente de las superficies o zonas de mayor contacto y afluencia de alumnado.
-Se colocará dispensador de gel desinfectante.
-Se realizará una limpieza y desinfección de las instalaciones al menos una vez al día, reforzándola en aquellos espacios que lo precisen en función de la
intensidad de uso. Se tendrá especial atención a las zonas de uso común y a las superficies de contacto más frecuentes como pomos de puertas, mesas,
muebles, pasamanos, suelos, teléfonos, perchas, y otros elementos de similares características.
-En todos los baños del centro habrá dispensadores de jabón y papel disponible para el secado de manos, o en su defecto gel hidroalcohólico, debiendo
los alumnos lavarse cuidadosamente las manos cada vez que hagan uso del aseo.
En la limpieza e higiene se seguirán las siguientes pautas:
- Se utilizarán desinfectantes como disoluciones de lejía (1:50) recién preparada o cualquiera de los desinfectantes con actividad virucida que se
encuentran en el mercado y que han sido autorizados y registrados por el Ministerio de Sanidad. En el uso de estos productos siempre se respetarán las
indicaciones de la etiqueta.
- Tras cada limpieza, los materiales empleados y los equipos de protección utilizados se desecharán de forma segura, procediéndose posteriormente al
lavado de manos.
- Asimismo, se realizará una limpieza y desinfección de los puestos de trabajo en cada cambio de turno con especial atención al mobiliario y otros
elementos susceptibles de manipulación, sobre todo en aquellos utilizados por más de un trabajador.
- Las medidas de limpieza se extenderán también, en su caso, a zonas privadas de los trabajadores, tales como vestuarios, taquillas, aseos, cocinas y
áreas de descanso.
- Se deben realizar tareas de ventilación periódica en las instalaciones y, como mínimo, de forma diaria y por espacio de 10 minutos.
- Se debe vigilar la limpieza de papeleras y la disponibilidad de jabón, papel de secado de manos y gel hidroalcohólico. En la medida de lo posible se
mantendrán las mesas libres de papeles o de otros objetos para facilitar su limpieza diaria.
-Se evitará la utilización de material compartido, y si no pudiera evitarse, se procederá a su limpieza y desinfección después de cada uso.
-Los pañuelos desechables que el personal y el alumnado emplee para el secado de manos o para el cumplimiento de la “etiqueta respiratoria” serán
desechados en papeleras con bolsa o contenedores protegidos con tapa y, a ser posible, accionados por pedal, también se depositará el material de
higiene personal (mascarillas, guantes de látex, etc.). Dichas papeleras deberán ser limpiadas de forma frecuente.