.jumbotron-container{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.title{
    margin-top:5vw;
}
.container-text{
    text-align: justify;
}
img{
    display: block;
  max-width: 100%;
  height: auto;
}