<div class="container col-md-10">
  <!--<div class="row"><h2>Gestion General</h2></div>-->
  <div class="row mt-2 text-center flex">
    <div class="col-3 box md shadow p-3 mb-5 bg-white rounded">
      <h2>Usuarios</h2>
      <a class="btn btn-outline-primary" (click)="assingComponent('usuarios')" role="button">mostrar</a>
    </div>
    <div class="col-3 box  shadow p-3 mb-5 bg-white rounded">
      <h2 >Clases</h2>
      <a class="btn btn-outline-primary" (click)="assingComponent('clases')" role="button">mostrar</a>
    </div>
    <div class="col-3 box  shadow p-3 mb-5 bg-white rounded">
      <h2>Alumnos</h2>
      <a class="btn btn-outline-primary" (click)="assingComponent('alumnos')" role="button">mostrar</a>
    </div>
  </div>
  <div class="container-component">
    <ng-container *ngComponentOutlet="dummyComponent"></ng-container>
  </div>
</div>

