@media (min-width: 576px) {
  .card-columns .card {
    display: inline-block;
    width: 70%;
    height: 350px;
  }
}
.profesor{
    max-width: 40%;
}
.card-footer{
  margin-bottom: 0 !important;
}

#children .card{
  border-radius: 0;
  box-shadow: 5px 5px 15px aqua;
  
}